@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
	font-family: "Noto Sans", "Noto Sans TC";
}

h1 {
	font-family: inherit;
	text-transform: none;
	line-height: 6rem;
}
h2{
	font-family:inherit;
}
h3{
	font-family:inherit;
}
.timeline {
  position: relative;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #9b319b;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline-block {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}


.subheading {
	font-family: inherit;
	text-transform: none;
	margin-top: 1rem;
}

.subheading {
	font-family: inherit
	text-transform: none;
	margin-top: 1rem;
}
.bg-primary{background-color:#6f4596!important}
.text-primary{color:#D8BFD8!important}
